{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <head>
    <title>Albert Einstein</title>
  </head>
  <body>
    <h1>{{name}}</h1>
    <p><strong>Birthdate:</strong> {{birthdate}}</p>
    <p><strong>Birthplace:</strong> {{birthplace}}</p>
    <p><strong>Deathdate:</strong> {{deathdate}}</p>
    <p><strong>Deathplace:</strong> {{deathplace}}</p>
    <p><strong>Nationality:</strong> {{nationality}}</p>
    <p><strong>Occupation:</strong> {{occupation}}</p>

    <hr />

    <h2>Known For:</h2>
    <ul>
      {{#each known_for}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <hr />

    <h2>Education:</h2>
    {{#each education}}
      <p><strong>Degree:</strong> {{degree}}</p>
      <p><strong>Field:</strong> {{field}}</p>
      <p><strong>Institution:</strong> {{institution}}</p>
      <p><strong>Year:</strong> {{year}}</p>
    {{/each}}

    <hr />

    <h2>Notable Publications:</h2>
    <ul>
      {{#each notable_publications}}
        <li>
          <p><strong>Title:</strong> {{title}}</p>
          <p><strong>Year:</strong> {{year}}</p>
          <p><strong>Publisher:</strong> {{publisher}}</p>
        </li>
      {{/each}}
    </ul>
    <hr />

    <h2>Partners:</h2>
    <ul>
      {{#each partners}}
        <li>
          <p><strong>Name:</strong> {{name}}</p>
          <p><strong>Relationship:</strong>
            {{relationship}}</p>
          <p><strong>Years:</strong> {{years}}</p>
        </li>
      {{/each}}
    </ul>

    <h2>Awards:</h2>
    <ul>
      {{#each awards}}
        <li>
          <p><strong>Title:</strong> {{title}}</p>
          <p><strong>Year:</strong> {{year}}</p>
          <p><strong>Description:</strong>
            {{description}}</p>
        </li>
      {{/each}}
    </ul>

    <h2>Influences:</h2>
    <ul>
      {{#each influences}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

    <h2>Influenced:</h2>
    <ul>
      {{#each influenced}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

    <h2>Quotes:</h2>
    <ul>
      {{#each quotes}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

    <h2>Major Discoveries:</h2>
    {{#each major_discoveries}}
      <p><strong>Title:</strong> {{title}}</p>
      <p><strong>Year:</strong> {{year}}</p>
      <p><strong>Description:</strong> {{description}}</p>
    {{/each}}

    <h2>Contributions:</h2>
    <p><strong>Title:</strong> {{contributions.title}}</p>
    <p><strong>Description:</strong>
      {{contributions.description}}</p>
    <p><strong>Year:</strong> {{contributions.year}}</p>
    <p><strong>Field:</strong> {{contributions.field}}</p>

  </body>
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}