{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>

  <h1>Facebook</h1>
   

  <ul>
    {{#each users}}
      <hr />
      <li>
        <h1>{{name}}</h1>

        <h3><i>ID:</i></b>   {{id}}</h3>
        <h3><i>gender:</i></b>   {{gender}}</h3>
        <h3><i>age:</i></b>   {{age}}</h3>
        <h3><i>Friends:</i></h3>
        <ul>
          {{#each friends}}
            <li>
              <p><h3>{{name}}</h3></p>
              <p><i>ID:</i>   {{id}}</p>
              <p><i>gender:</i>   {{gender}}</p>
              <p><i>age:</i>   {{age}}</p>
              {{#if mutual_friends}}
              <p><i>Mutual friends:</i></p>

              <ul>
                {{#each mutual_friends}}
                  <li>
                    <p><h3>{{name}}</h3></p>
                    <p><i>ID:</i>   {{id}}</p>
                    <p><i>gender:</i>   {{gender}}</p>
                    <p><i>age:</i>   {{age}}</p>
                    {{#if mutual_friends}}
                    <p><i>Mutual friends:</i></p>
                      <ul>
                        {{#each mutual_friends}}
                        <li>
                        <p><h4>{{name}}</h4></p>
                        <p><i>ID:</i>{{id}}</p>
                        <p><i>gender:</i>{{gender}}</p>
                        <p><i>age:</i>{{age}}</p>
                        </li>
                        {{/each}}
                      </ul>  
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
              {{/if}}
              {{#if groups}}
                     <h3><i>Groups:</i></h3>
          <ul>
            {{#each groups}}
              <li>
                <h3><cite>{{name}}</cite></h3>
                <p><i>ID:</i>{{id}}</p>
                <p> description:<cite>"{{description}}"</cite></p>
                <ul>
                {{#each members}}
                <p><b>members:</b>{{members}}</p>
                  <li>
                     <p><h4>{{name}}</h4></p>
                      <p><i>ID:</i>{{id}}</p>
                      <p><i>gender:</i>{{gender}}</p>
                      <p><i>age:</i>{{age}}</p>
                  </li>
                {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
              {{/if}}
            </li>
          {{/each}}
        </ul>
       
        {{#if groups}}
         <h3><i>Groups:</i></h3>
          <ul>
            {{#each groups}}
              <li>
                <h3><cite>{{name}}</cite></h3>
                <p><i>ID:</i>{{id}}</p>
                <p> description:<cite>"{{description}}"</cite></p>
                <ul>
                {{#each members}}
                <p><b>members:</b>{{members}}</p>
                  <li>
                     <p><h4>{{name}}</h4></p>
                      <p><i>ID:</i>{{id}}</p>
                      <p><i>gender:</i>{{gender}}</p>
                      <p><i>age:</i>{{age}}</p>
                  </li>
                {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>

        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}