<div class='col-8'>
  <div class='row'>

    {{#each goodsList}}

      <div class='card col-6'>

        <img
          class='card-img-top'
          src='{{img}}'
          alt='Product photo'
        />
        <div class='card-body'>
          <div class='card-title h3'>{{name}}</div>
          {{!! кнопки}}
          {{#if isHot}}<div
              class='btn btn-warning rounded-pill'
            >НОТ</div>{{/if}}
          {{#if isNew}}<div
              class='btn btn-primary rounded-pill'
            >Нове</div>{{/if}}
          {{#if isFast}}<div class='btn btn-success'>Швидка
              доставка</div>{{/if}}
          {{#if isFree}}<div
              class='btn btn-secondary'
            >Безкоштовна доставка</div>{{/if}}

        </div>
        <div>{{review.amount}}{{review.text}}</div>
        <h3>{{price}}</h3>
        <p>{{delivery}}</p>
        {{!! кнопки}}
        {{#each buttons}}
          {{#if isPrimary}}<a
              href='{{link}}'
              class='btn btn-primary'
            >{{text}}</a>{{/if}}
          {{#if isSecondary}}<a
              href='{{link}}'
              class='btn btn-secondary'
            >{{text}}</a>{{/if}}
        {{/each}}
        {{!!characteristics }}
        {{#each characteristics}}
          <li>{{this.title}}</li>
        {{/each}}
      </div>

    {{/each}}
  </div>
</div>